{% load static %}
<footer class="landing-footer-two">
  <div class="container">
	<div class="row">
	  <div class="col-md-4">
		<img src="{% static 'exchange/img/logo-light.svg' %}" alt="">
		<p>Crypo is the most advanced UI kit for making the Blockchain platform. This kit comes with 4 different
		  exchange page, market, wallet and many more</p>
		<ul class="social-icon">
		  <li><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
		  <li><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
		  <li><a href="#"><i class="icon ion-logo-linkedin"></i></a></li>
		  <li><a href="#"><i class="icon ion-logo-pinterest"></i></a></li>
		  <li><a href="#"><i class="icon ion-logo-github"></i></a></li>
		</ul>
	  </div>
	  <div class="col-md-2">
		<h3>Company</h3>
		<ul>
		  <li><a href="#">About</a></li>
		  <li><a href="#">Careers</a></li>
		  <li><a href="#">Affiliates</a></li>
		  <li><a href="#">Investors</a></li>
		  <li><a href="#">Legal & privacy</a></li>
		  <li><a href="#">Cookie policy</a></li>
		</ul>
	  </div>
	  <div class="col-md-2">
		<h3>Individuals</h3>
		<ul>
		  <li><a href="#">Buy & sell</a></li>
		  <li><a href="#">Earn free crypto</a></li>
		  <li><a href="#">Wallet</a></li>
		  <li><a href="#">Card</a></li>
		  <li><a href="#">Payment methods</a></li>
		  <li><a href="#">Account access</a></li>
		</ul>
	  </div>
	  <div class="col-md-2">
		<h3>Support</h3>
		<ul>
		  <li><a href="#">Help center</a></li>
		  <li><a href="#">Contact us</a></li>
		  <li><a href="#">Create account</a></li>
		  <li><a href="#">ID verification</a></li>
		  <li><a href="#">Account information</a></li>
		  <li><a href="#">Supported crypto</a></li>
		</ul>
	  </div>
	  <div class="col-md-2">
		<h3>Learn</h3>
		<ul>
		  <li><a href="#">Browse crypto prices</a></li>
		  <li><a href="#">Crypto basics</a></li>
		  <li><a href="#">Tips & tutorials</a></li>
		  <li><a href="#">Market updates</a></li>
		  <li><a href="#">How to send crypto</a></li>
		  <li><a href="#">What is a blockchain?</a></li>
		</ul>
	  </div>
	</div>
  </div>
</footer>