{% extends 'registration/base.html' %}
{% block title %}Login{% endblock %}
{% block main %}
{% load static %}
{% load widget_tweaks %}

<div class="vh-100 d-flex justify-content-center">
<div class="form-access my-auto" style="max-width: min-content;">
	{% if form.non_field_errors %}
		<div class="errors">
		{% for error in form.non_field_errors %}
			<span>{{error}}</span>
		{% endfor %}
		</div>
	{% endif %}
	<form method = "post">
		{% csrf_token %}
		<span>Sign In</span>
		<div class="form-group">
			{{form.username|add_class:"form-control"|attr:"placeholder:Username"}}
			{% if form.username.errors %}
				<div class="errors">
					{% for error in form.username.errors %}
				<span>{{error}}</span>
			{% endfor %}
			</div>
			{% endif %}
		</div>
		<div class="form-group">
			{{form.password|add_class:"form-control"|attr:"placeholder:Password"}}
			{% if form.password.errors %}
				<div class="errors">
					{% for error in form.password.errors %}
						<span>{{error}}</span>
					{% endfor %}
				</div>
			{% endif %}
			<br>
		<div class="text-right">
			<a href="{% url 'password_reset' %}" class="float-left">Forgot Password?</a>
		</div>
		<button type="submit" class="btn btn-primary">Sign In</button>
		</div>
	</form>
	<h2>Don't have an account? <a href="{% url 'exchange:signUp' %}">Sign up here</a></h2>
</div>
</div>

{% endblock %}