{% extends 'registration/base.html' %}
{% block title %}Reset Password{% endblock %}

{% block main %}
{% load static %}

  <div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto">
      <form>
        <span>Reset Password</span>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address">
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
      </form>
      <h2>Remembered your password? <a href="{% url 'login' %}">Sign in here</a></h2>
    </div>
  </div>

{% endblock %}