{% extends 'registration/base.html' %}
{% block title %}واردکردن رمز عبور جدید{% endblock %}

{% block main %}
{% load widget_tweaks %}
{% load static %}

<div class="row">
	<div class="col">
		<a href="{% url 'cleanWorld:home' %}"><img class="siteLogo d-lg-none" src="{% static 'cleanWorld/image/logo.jpg' %}"></a>
		<p class="info">واردکردن رمز عبور جدید</p>
	</div>
</div>
<div class="row">
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	
	</div>
	<div class="col col-lg-6 .d-block login-div">
		{% if validlink %}
		<form method="POST" class="my-login-validation" novalidate="">
			{% csrf_token %}
			<div class="form-group">
				<label class="float-right" for="new-password">رمز عبور جدید</label>
				{{form.new_password1|add_class:"form-control"|attr:"autofocus"}}
				<div class="invalid-feedback">
					رمز عبور اجباری است.
				</div>
				<div class="form-text text-muted">
					    گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد. رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد. گذرواژه شما نمی تواند کلا عدد باشد
				</div>
			</div>

			<div class="form-group">
				<label class="float-right" for="new-password">تایید رمز عبور جدید</label>
				{{form.new_password2|add_class:"form-control"|attr:"autofocus"}}
				<div class="invalid-feedback">
					رمز عبور اجباری است.
				</div>
			</div>
			<div class="form-group m-0">
				<button type="submit" class="btn btn-primary btn-block">
					تغییر رمز عبور
				</button>
			</div>
		</form>
		{% else %}
			<p class="alert-danger">این لینک منقضی شده است لطفا دوباره <a href="{% url "password_reset" %}">لینک</a> را دریافت کنید.</p>
		{% endif %}
	</div>
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	
	</div>
</div>
{% endblock %}