{% extends 'registration/base.html' %}
{% block title %}profile{% endblock %}

{% block main %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load gravatar %}
{% load static %}

<div class="settings mtb15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <div class="nav flex-column nav-pills settings-nav" id="v-pills-tab" role="tablist"
          aria-orientation="vertical">
          <a class="nav-link active" id="settings-profile-tab" href="{% url 'account:profile' %}">Profile</a>
          
          <a class="nav-link" id="settings-wallet-tab" href="{% url 'account:wallet' %}"> Wallet</a>
          
          <a class="nav-link" id="settings-tab" href="{% url 'account:tradeHistory' %}">Trade history</a>
        </div>
      </div>
      <div class="col-md-12 col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="settings-profile" role="tabpanel"
            aria-labelledby="settings-profile-tab">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">General Information</h5>
                <div class="settings-profile">
                  <form method="post">
                    {% csrf_token %}
                    <img src="{% gravatar_url user.email 150 %}" class="img-circle" alt="{{user.username}}'s avatar">
                    <div class="form-row mt-4">
                      <div class="col-md-6">
                        {{ form.first_name|as_crispy_field}}
                      </div>
                      <div class="col-md-6">
                        {{ form.last_name|as_crispy_field}}
                      </div>
                      <div class="col-md-6">
                        {{ form.username|as_crispy_field}}
                      </div>
                      <div class="col-md-6">
                        {{ form.email|as_crispy_field}}
                      </div>
                      <div class="col-md-12">
                        <span class="form-control">Click <a href="{% url 'password_change' %}">here</a> for change your password.</span>
                      </div>
                      <div class="col-md-12">
                        <input type="submit" value="Update">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}