{% extends 'registration/base.html' %}
{% block title %}Trade {{name}}{% endblock %}

{% block main %}
{% load static %}

<span style="display: none" id='priceLoaded'>{{price}}</span>
  <div class="container-fluid mtb15 no-fluid">
    <div class="row sm-gutters">
      <div class="col-md-3">
        <div class="market-pairs">

          <!-- <div class="input-group">
            <input type="text" class="live-search-box" placeholder="search here" />

              <ul class="live-search-list" style="display: none; width:92%">
              {% for obj in cryptoList %}
                  <a href="{% url 'account:trade' obj.symbol.upper %}-USDT">
                    {% if forloop.counter >= 11 %}
                    <li style="display: none">
                    {% else %}
                    <li>
                    {% endif %}
                      <div class="row">
                        <div class="col-1" >{{obj.market_cap_rank}}</div>
                        <div class="col-9" ><img src={{obj.image}} style="height:18px"> {{obj.name}} ({{obj.symbol.upper}})</div>
                        <div class="col-2" ></div>
                      </div>
                    </li>
                  </a>
              {% endfor %}
              </ul>
          </div> -->
          <ul class="nav nav-pills" role="tablist">
            </li>
            <li class="nav-item">
              <a class="nav-link active">{{pair}}</a>
            </li>
          </ul>
          <div class="tab-content d-none d-lg-block">
            <div class="tab-pane fade show d-block">
              <table class="table">
                <thead>
                  <tr>
                    <th>Pairs</th>
                    <th>Last Price</th>
                    <th>Change</th>
                  </tr>
                </thead>
                <tbody class="markets-list-trade">
                  {% for item in data %}
                  <tr data-href="{% url 'account:trade' item.symbol.upper %}-USDT">
                    <td><i class="icon"></i>{{item.name}}-USDT</td>
                    <td>{{item.current_price}}</td>
                    {% if item.price_change_percentage_24h > 0 %}
                      <td><span class="green">+{{item.price_change_percentage_24h}}%</span></td>
                    {% elif item.price_change_percentage_24h < 0 %}
                      <td><span class="red">{{item.price_change_percentage_24h}}%</span></td>
                    {% else %}
                      <td>{{item.price_change_percentage_24h}}%</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-chart mb15">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div id="tradingview_e8053"></div>
            <script src="https://s3.tradingview.com/tv.js"></script>
            <script>
              new TradingView.widget(
                {
                  "width": "100%",
                  "height": 550,
                  "symbol": "{{pair}}",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "Dark",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "withdateranges": true,
                  "hide_side_toolbar": false,
                  "allow_symbol_change": true,
                  "show_popup_button": true,
                  "popup_width": "1000",
                  "popup_height": "650",
                  "container_id": "tradingview_e8053"
                }
              );
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        {% if user.is_authenticated %}
        <div class="market-trade" >
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#pills-trade-limit" role="tab"
                aria-selected="true">Market</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
              <div class="d-flex justify-content-between">
                <div class="market-trade-buy">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount" id="uValue" onkeypress='validate(event)'>
                    <div class="input-group-append">
                      <span id="buyPairChanger" class="input-group-text btn">USDT</span>
                    </div>
                  </div>
                  <ul class="market-trade-list" id="usdtPercentage">
                    <li><a href="#!">25%</a></li>
                    <li><a href="#!">50%</a></li>
                    <li><a href="#!">75%</a></li>
                    <li><a href="#!">100%</a></li>
                  </ul>
                  <p>Available: <span id="usdtAmount"></span></p>
                  <button class="btn buy" onclick="trade('buy', '{{name}}')">Buy {{name}}</button>
                </div>
                <div class="market-trade-sell">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount" id="pValue" onkeypress='validate(event)'>
                    <div class="input-group-append">
                      <span id="sellPairChanger" class="input-group-text btn">{{name}}</span>
                    </div>
                  </div>
                  <ul class="market-trade-list" id="pairPercentage">
                    <li><a href="#!">25%</a></li>
                    <li><a href="#!">50%</a></li>
                    <li><a href="#!">75%</a></li>
                    <li><a href="#!">100%</a></li>
                  </ul>
                  <p>Available: <span id="pairAmount"></span></p>
                  <button class="btn sell" onclick="trade('sell', '{{name}}')">Sell {{name}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="{% static 'exchange/js/trade.js' %}"></script>
        <script type = "text/javascript">     
          getPortfolio("{{name}}");
        </script>  
        {% else %}
          <div class="mt-5 d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="form-access">
                  <span class="errors">You should Login.</span>
                  <a class="btn btn-primary d-block" href="{% url 'login' %}">Login</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-3">
        <div class="order-book mb15 d-none d-lg-block">
          <h2 class="heading">Technical analysis</h2>
            <div class="tradingview-widget-container tradingview-tecnical-analys">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                  "interval": "1h",
                  "width": "100%",
                  "isTransparent": false,
                  "height": "505",
                  "symbol": "{{pair}}",
                  "showIntervalTabs": true,
                  "locale": "en",
                  "colorTheme": "dark"
                }
              </script>
          </div>
        </div>
        <div class="market-history">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#recent-trades" role="tab" aria-selected="true">Recent
                Trades</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active d-block" id="recent-trades" role="tabpanel">
              <table class="table">
                <thead>
                  <tr>
                    <th>Pair</th>
                    <th>Price</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody id='recentTradesHistory'>
                  <p style="display:none" id="beforeRecent"></p>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="market-history market-order mt15">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <span class="nav-link">Trade
                history</span>
            </li>
          </ul>
          <div class="tab-content" style="height:500px; overflow-y: auto;">
            <div class="tab-pane fade show active" id="open-orders" role="tabpanel">
              <ul class="d-flex justify-content-between market-order-item ul">
                <li>Time</li>
                <li>All pairs</li>
                <li>Buy/Sell</li>
                <li>Price</li>
                <li>Amount</li>
                <li>Total</li>
              </ul>
              <p style="display:none" id="before"></p>
              {% if user.is_authenticated %}

              {% else %}
                <span class="no-data">
                  <i class="icon ion-md-document"></i>
                  No data
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="alert" class="alerts">

</div>
{% endblock %}