{% extends 'registration/base.html' %}
{% block title %}Trade {{name}}{% endblock %}

{% block main %}
{% load static %}

  <div class="container-fluid mtb15 no-fluid">
    <div class="row sm-gutters">
      <div class="col-md-3">
        <div class="market-pairs">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"><i class="icon ion-md-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="inputGroup-sizing-sm">
          </div>
          <ul class="nav nav-pills" role="tablist">
            </li>
            <li class="nav-item">
              <a class="nav-link active">USDT</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show d-block">
              <table class="table">
                <thead>
                  <tr>
                    <th>Pairs</th>
                    <th>Last Price</th>
                    <th>Change</th>
                  </tr>
                </thead>
                <tbody class="markets-list-trade">
                  {% for item in data %}
                  <tr data-href="{% url 'account:trade' item.symbol.upper %}-USDT">
                    <td><i class="icon"></i>{{item.name}}-USDT</td>
                    <td>{{item.current_price}}</td>
                    {% if item.price_change_percentage_24h > 0 %}
                      <td><span class="green">+{{item.price_change_percentage_24h}}%</span></td>
                    {% elif item.price_change_percentage_24h < 0 %}
                      <td><span class="red">{{item.price_change_percentage_24h}}%</span></td>
                    {% else %}
                      <td>{{item.price_change_percentage_24h}}%</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-chart mb15">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div id="tradingview_e8053"></div>
            <script src="https://s3.tradingview.com/tv.js"></script>
            <script>
              new TradingView.widget(
                {
                  "width": "100%",
                  "height": 550,
                  "symbol": "{{pair}}",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "Dark",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "withdateranges": true,
                  "hide_side_toolbar": false,
                  "allow_symbol_change": true,
                  "show_popup_button": true,
                  "popup_width": "1000",
                  "popup_height": "650",
                  "container_id": "tradingview_e8053"
                }
              );
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        {% if user.is_authenticated %}
        <div class="market-trade">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#pills-trade-limit" role="tab"
                aria-selected="true">Market</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
              <div class="d-flex justify-content-between">
                <div class="market-trade-buy">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Price">
                    <div class="input-group-append">
                      <span class="input-group-text">BTC</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount">
                    <div class="input-group-append">
                      <span class="input-group-text">ETH</span>
                    </div>
                  </div>
                  <ul class="market-trade-list">
                    <li><a href="#!">25%</a></li>
                    <li><a href="#!">50%</a></li>
                    <li><a href="#!">75%</a></li>
                    <li><a href="#!">100%</a></li>
                  </ul>
                  <p>Available: <span>0 BTC = 0 USD</span></p>
                  <button class="btn buy">Buy</button>
                </div>
                <div class="market-trade-sell">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Price">
                    <div class="input-group-append">
                      <span class="input-group-text">BTC</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount">
                    <div class="input-group-append">
                      <span class="input-group-text">ETH</span>
                    </div>
                  </div>
                  <ul class="market-trade-list">
                    <li><a href="#!">25%</a></li>
                    <li><a href="#!">50%</a></li>
                    <li><a href="#!">75%</a></li>
                    <li><a href="#!">100%</a></li>
                  </ul>
                  <p>Available: <span>0 BTC = 0 USD</span></p>
                  <button class="btn sell">Sell</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
          <div class="vh-100 d-flex justify-content-center">
            <div class="form-access mt-2">
                <span class="errors">You should Login.</span>
                <a class="btn btn-primary d-block" href="{% url 'login' %}">Login</a>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-3">
        <div class="order-book mb15">
          <h2 class="heading">Technical analysis</h2>
            <div class="tradingview-widget-container tradingview-tecnical-analys">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                  "interval": "1h",
                  "width": "100%",
                  "isTransparent": false,
                  "height": "505",
                  "symbol": "{{pair}}",
                  "showIntervalTabs": true,
                  "locale": "en",
                  "colorTheme": "dark"
                }
              </script>
          </div>
        </div>
        <div class="market-history">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#recent-trades" role="tab" aria-selected="true">Recent
                Trades</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active d-block" id="recent-trades" role="tabpanel">
              <table class="table">
                <thead>
                  <tr>
                    <th>Pair</th>
                    <th>Price</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in recentTrades %}
                  <tr>
                    <td>{{item.pair}}</td>
                    {% if item.type == 'buy' %}
                      <td class="green">{{item.price}}1</td>
                    {% else %}
                      <td class="red">{{item.price}}1</td>
                    {% endif %}

                    <td>{{item.amount}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="market-history market-order mt15">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <span class="nav-link">Trade
                history</span>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="open-orders" role="tabpanel">
              <ul class="d-flex justify-content-between market-order-item">
                <li>Time</li>
                <li>All pairs</li>
                <li>Buy/Sell</li>
                <li>Price</li>
                <li>Amount</li>
              </ul>
              {% if user.is_authenticated %}
                {% for item in history %}
                  <ul class="d-flex justify-content-between market-order-item fixed">
                    <li>{{item.time}}</li>
                    <li>{{item.pair}}</li>
                    <li>{{item.type}}</li>
                    <li>{{item.price}}</li>
                    <li>{{item.amount}}</li>
                  </ul>
                {% endfor %}
              {% else %}
                <span class="no-data">
                  <i class="icon ion-md-document"></i>
                  No data
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}