{% extends 'registration/base.html' %}
{% block title %}Wallet{% endblock %}

{% block main %}
{% load static %}

<div class="settings mtb15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <div class="nav flex-column nav-pills settings-nav" id="v-pills-tab" role="tablist"
          aria-orientation="vertical">
          <a class="nav-link" id="settings-profile-tab" href="{% url 'account:profile' %}">Profile</a>
          
          <a class="nav-link active" id="settings-wallet-tab" href="{% url 'account:wallet' %}"> Wallet</a>
          
          <a class="nav-link" id="settings-tab" href="{% url 'account:tradeHistory' %}">Trade history</a>
        </div>
      </div>
        <div class="col-md-12 col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="settings-wallet" role="tabpanel"
              aria-labelledby="settings-wallet-tab">
              <div class="wallet">
                <div class="row">
                  <div class="col-md-12 col-lg-4">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                      {% if portfolio %}
                        {% for item in portfolio %}
                          {% if item.cryptoName == 'USDT' %}
                          <a class="nav-link d-flex justify-content-between align-items-center">
                          {% else %}
                          <a class="nav-link d-flex justify-content-between align-items-center"
                            href="{% url 'account:trade' item.cryptoName %}-USDT" target="_blank">
                          {% endif %}
                            <div class="d-flex">
                              <img src="https://creepy-corp.eu/git/jsupa/crypto-icons/get.php?token={{item.cryptoName}}" alt="{{item.cryptoName}}">
                              <div>
                                <h2>{{item.cryptoName}}</h2>
                                <p>{{item.cryptoName}}</p>
                              </div>
                            </div>
                            <div>
                              <h3 class="float-right">{{item.amount}}</h3>
                              <br>
                              <p class="float-right">total: {{item.equivalentAmount}}</p>
                            </div>
                          </a>
                        {% endfor %}
                      {% else %}
                        Nothing...
                      {% endif %}
                    </div>
              <div class="text-center mt-3">
                {% if portfolio.has_previous %}
                    <a href="{% url 'account:wallet' portfolio.previous_page_number %}" class="btn btn-primary">Previous Page</a>
                {% endif %}

                  <span class="green m-3">
                      Page {{ portfolio.number }} of {{ portfolio.paginator.num_pages }}
                  </span>

                {% if portfolio.has_next %}
                    <a href="{% url 'account:wallet' portfolio.next_page_number %}" class="btn btn-primary">Next Page</a>
                {% endif %}
              </div>
                  </div>
                  <div class="col-md-12 col-lg-8">
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="coinBTC" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Balance</h5>
                            <ul>
                              <li class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="icon ion-md-cash"></i>
                                  <h2>Total Margin (USDT)</h2>
                                </div>
                                <div>
                                  <h3>
                                    {% if total %}
                                      {{total}}$
                                    {% else %}
                                      ---
                                    {% endif %}
                                  </h3>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Assets allocation</h5>
                              <div class="d-flex justify-content-center">
                                <div class="form-access">
                                    <span class="errors">
                                      <img src="{% static 'exchange/img/charts/' %}{{asset}}" alt="">
                                    </span>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">PNL</h5>
                              <div class="d-flex justify-content-center">
                                <div class="form-access">
                                    <span class="errors">
                                      <img src="{% static 'exchange/img/charts/' %}{{pnl}}" alt="">
                                    </span>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}