{% extends 'exchange/base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
{% load static %}

  <div class="landing-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>A trusted and secure cryptocurrency exchange.</h2>
          <p>Crypo is the most advanced UI kit for making the Blockchain platform.
            This kit comes with 4 different exchange page, market, wallet and many more</p>
        </div>
        <div class="offset-md-1 col-md-5">
          <img src="{% static 'exchange/img/landing.png' %}" alt="bitcoin">
        </div>
      </div>
    </div>
  </div>

  <div class="landing-feature landing-coin-price bt-none">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Check your favorite coin price <br> within a glance</h2>
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:BTCUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:ETHUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:XRPUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:BNBUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:ADAUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:DOGEUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:DOTUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-3 mb30">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "BINANCE:SOLUSDT",
                  "width": "100%",
                  "height": 220,
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": true,
                  "autosize": false,
                  "largeChartUrl": ""
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </div>
  <div class="landing-feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Check latest news and key events of popular <br> companies and cryptocurrencies</h2>
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js"
              async>
                {
                  "colorTheme": "dark",
                  "isTransparent": true,
                  "displayMode": "compact",
                  "width": "100%",
                  "height": 430,
                  "locale": "en"
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
    </div>
  </div>

{% include 'exchange/footer.html' %}
{% endblock %}