{% extends 'exchange/base.html' %}

{% block title %}Markets Info{% endblock %}

{% block main %}
{% load static %}

 <div class="markets ptb70">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="markets-container">
            <div class="markets-content">
              <h2>BTC Index</h2>
              <p>7340.65</p>
              <span class="green">+0.45%</span>
            </div>
            <div class="markets-chart">
              <div id="marketsChartBtcDark"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="markets-container">
            <div class="markets-content">
              <h2>ETH Index</h2>
              <p>146.58</p>
              <span class="red">-5.09%</span>
            </div>
            <div class="markets-chart">
              <div id="marketsChartEthDark"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="markets-container">
            <div class="markets-content">
              <h2>LTC Index</h2>
              <p>44.49</p>
              <span class="green">+2.14%</span>
            </div>
            <div class="markets-chart">
              <div id="marketsChartLtcDark"></div>current_price
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="markets-pair-list">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="icon ion-md-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="tab-content">
              <div class="tab-pane fade show" style="display:block">
                <table class="table">
                  <thead>
                    <tr style="cursor:auto">
                      <th>Rank</th>
                      <th>Coin</th>
                      <th>Last Price</th>
                      <th>Marketcap</th>
                      <th>Change (24H)</th>
                      <th>High (24H)</th>
                      <th>Low (24h)</th>
                      <th>Volume (24h)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if data %}
                      {% for obj in data %}
                        <tr data-href="{% url 'account:trade' obj.symbol.upper %}-USDT">
                          <td>{{obj.market_cap_rank}}</td>
                          <td><img src={{obj.image}} height='70'>{{obj.name}}</td>
                          <td>{{obj.current_price}}</td>
                          <td>{{obj.market_cap}}</td>
                          {% if obj.price_change_percentage_24h > 0 %}
                            <td><span class="green">+{{obj.price_change_percentage_24h}}%</span></td>
                          {% elif obj.price_change_percentage_24h < 0 %}
                            <td><span class="red">{{obj.price_change_percentage_24h}}%</span></td>
                          {% else %}
                            <td>{{obj.price_change_percentage_24h}}%</td>
                          {% endif %}
                          <td>{{obj.high_24h}}</td>
                          <td>{{obj.low_24h}}</td>
                          <td>{{obj.total_volume}}</td>
                        </tr>
                      {% endfor %}
                      {% else %}
                        <h3>No data</h3>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-center">
              {% if data.has_previous %}
                  <a href="{% url 'exchange:markets' data.previous_page_number %}" style="margin-right: 10px" class="load-more btn">Previous Page</a>
              {% endif %}

                <span class="green" style="position:absolute; bottom:0">
                    Page {{ data.number }} of {{ data.paginator.num_pages }}
                </span>

              {% if data.has_next %}
                  <a href="{% url 'exchange:markets' data.next_page_number %}" style="margin-left: 90px" class="load-more btn">Next Page</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}