{% extends 'exchange/base.html' %}

{% block title %}Markets Info{% endblock %}

{% block main %}
{% load static %}

 <div class="markets ptb70">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
          {
          "symbol": "CRYPTOCAP:BTC.D",
          "width": "350",
          "height": "250",
          "locale": "en",
          "dateRange": "12M",
          "colorTheme": "light",
          "trendLineColor": "rgba(41, 98, 255, 1)",
          "underLineColor": "rgba(41, 98, 255, 0.3)",
          "underLineBottomColor": "rgba(41, 98, 255, 0)",
          "isTransparent": true,
          "autosize": false,
          "largeChartUrl": ""
        }
          </script>
        </div>
        <!-- TradingView Widget END -->
          <br>
        </div>
        <div class="col-md-4">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
            {
            "symbol": "CRYPTOCAP:TOTAL",
            "width": "350",
            "height": "250",
            "locale": "en",
            "dateRange": "12M",
            "colorTheme": "light",
            "trendLineColor": "rgba(41, 98, 255, 1)",
            "underLineColor": "rgba(41, 98, 255, 0.3)",
            "underLineBottomColor": "rgba(41, 98, 255, 0)",
            "isTransparent": true,
            "autosize": false,
            "largeChartUrl": ""
          }
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-4">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
          {
          "symbol": "CRYPTOCAP:OTHERS.D",
          "width": "350",
          "height": "250",
          "locale": "en",
          "dateRange": "12M",
          "colorTheme": "light",
          "trendLineColor": "rgba(41, 98, 255, 1)",
          "underLineColor": "rgba(41, 98, 255, 0.3)",
          "underLineBottomColor": "rgba(41, 98, 255, 0)",
          "isTransparent": true,
          "autosize": false,
          "largeChartUrl": ""
        }
          </script>
        </div>
        <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <div class="markets-pair-list">

            <div class="input-group">
    
              <input type="text" class="live-search-box" placeholder="search here" />

              <ul class="live-search-list" style="display: none">
              {% for obj in cryptoList %}
                  <a href="{% url 'account:trade' obj.symbol.upper %}-USDT">
                    {% if forloop.counter >= 11 %}
                    <li style="display: none">
                    {% else %}
                    <li>
                    {% endif %}
                      <div class="row">
                        <div class="col-1" >{{obj.market_cap_rank}}</div>
                        <div class="col-5" ><img src={{obj.image}} style="height:18px"> {{obj.name}} ({{obj.symbol.upper}})</div>
                        <div class="col-6" ></div>
                      </div>
                    </li>
                  </a>
              {% endfor %}
              </ul>
            </div>

            <div class="tab-content">
              <div class="tab-pane fade show" style="display:block">
                <table class="table">
                  <thead>
                    <tr style="cursor:auto">
                      <th style="width:2px !important">Rank</th>
                      <th>Coin</th>
                      <th>Last Price</th>
                      <th>Marketcap</th>
                      <th>Change (24H)</th>
                      <th>High (24H)</th>
                      <th>Low (24h)</th>
                      <th>Volume (24h)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if data %}
                      {% for obj in data %}
                        <tr data-href="{% url 'account:trade' obj.symbol.upper %}-USDT">
                          <td>{{obj.market_cap_rank}}</td>
                          <td><img src={{obj.image}} height='70'>{{obj.name}} ({{obj.symbol.upper}})</td>
                          <td>{{obj.current_price}}</td>
                          <td>{{obj.market_cap}}</td>
                          {% if obj.price_change_percentage_24h > 0 %}
                            <td><span class="green">+{{obj.price_change_percentage_24h}}%</span></td>
                          {% elif obj.price_change_percentage_24h < 0 %}
                            <td><span class="red">{{obj.price_change_percentage_24h}}%</span></td>
                          {% else %}
                            <td>{{obj.price_change_percentage_24h}}%</td>
                          {% endif %}
                          <td>{{obj.high_24h}}</td>
                          <td>{{obj.low_24h}}</td>
                          <td>{{obj.total_volume}}</td>
                        </tr>
                      {% endfor %}
                      {% else %}
                        <h3>No data</h3>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-center">
              {% if data.has_previous %}
                  <a href="{% url 'exchange:markets' data.previous_page_number %}" style="margin-right: 10px" class="load-more btn">Previous Page</a>
              {% endif %}

                <span class="green" style="position:absolute; bottom:0">
                    Page {{ data.number }} of {{ data.paginator.num_pages }}
                </span>

              {% if data.has_next %}
                  <a href="{% url 'exchange:markets' data.next_page_number %}" style="margin-left: 90px" class="load-more btn">Next Page</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}