{% extends 'exchange/base.html' %}

{% block title %}Symbol info{% endblock %}

{% block main %}
{% load static %}

<div class="container-fluid mtb15 symbol-info">
  <div class="row">
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:TSLA",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NYSE:NKE",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:AAPL",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NYSE:BA",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:AMZN",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:MSFT",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:AMD",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:NFLX",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:FB",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NYSE:CCL",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NASDAQ:NVDA",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NYSE:DAL",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-md-12">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js"
          async>
            {
              "symbol": "NYSE:BABA",
                "width": "100%",
                  "locale": "en",
                    "colorTheme": "dark",
                      "isTransparent": false
            }
          </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
</div>

{% endblock %}