{% extends 'registration/base.html' %}
{% block title %}Reset Password{% endblock %}

{% block main %}
{% load static %}
{% load widget_tweaks %}

  <div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto" style="max-width: min-content;">
      <form method="post">
        {% csrf_token %}
        <span>Reset Password</span>
        <div class="form-group">
          {{ form.email|add_class:"form-control"|attr:"placeholder:Email Address" }}
        </div>
        <div style="margin-bottom: -13px;">
          {{form.hcaptcha|add_class:"form-control"}}
          {% if form.hcaptcha.errors %}
            <div>
              {% for error in form.hcaptcha.errors %}
                <span  class="errors">{{error}}</span>
          {% endfor %}
          </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
      </form>
      <h2>Remembered your password? <a href="{% url 'login' %}">Sign in here</a></h2>
    </div>
  </div>

{% endblock %}