{% extends 'registration/base.html' %}
{% block title %}Change Password{% endblock %}

{% block main %}
{% load static %}
{% load widget_tweaks %}

  <div class="vh-100 d-flex justify-content-center">
    <div class="form-access my-auto" style="max-width: min-content;">
      <form method="post">
        {% csrf_token %}
        <span>Change Password</span>
        <div class="form-group">
            {% if user.has_usable_password %}
              {{ form.old_password|add_class:"form-control"|attr:"placeholder:Old password" }}
            {% else %}
              {{ form.old_password|add_class:"form-control"|attr:"placeholder:old_password"|attr:"style:display:none"|attr:"value:temp" }}
            {% endif %}
            {% if form.old_password.errors %}
              <div>
                {% for error in form.old_password.errors %}
                  <span class="errors">{{error}}</span>
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.new_password1|add_class:"form-control"|attr:"placeholder:New password" }}
          {% if form.new_password1.errors %}
            <div>
              {% for error in form.new_password1.errors %}
                <span class="errors">{{error}}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Confirm new password" }}
          {% if form.new_password2.errors %}
            <div>
              {% for error in form.new_password2.errors %}
                <span class="errors">{{error}}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div style="margin-bottom: -13px;">
          {{form.hcaptcha|add_class:"form-control"}}
          {% if form.hcaptcha.errors %}
          <div>
            {% for error in form.hcaptcha.errors %}
          <span class="errors">{{error}}</span>
          {% endfor %}
          </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div>

{% endblock %}