{% extends 'registration/base.html' %}
{% block title %}Settings{% endblock %}

{% block main %}
{% load static %}

<div class="settings mtb15">
  <div class="container-fluid">
	<div class="row">
	  <div class="col-md-12 col-lg-3">
		<div class="nav flex-column nav-pills settings-nav" id="v-pills-tab" role="tablist"
		  aria-orientation="vertical">
		  <a class="nav-link" id="settings-profile-tab" href="{% url 'account:profile' %}">Profile</a>
		  
		  <a class="nav-link" id="settings-wallet-tab" href="{% url 'account:wallet' %}"> Wallet</a>
		  
		  <a class="nav-link active" id="settings-tab" href="{% url 'account:tradeHistory' %}">Trade history</a>
		</div>
	  </div>
		<div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
		  <div class="card">
			<div class="card-body">
			  <h5 id="hisrtoryTitle" class="card-title">Please wait...</h5>
			  <div class="wallet-history">
				<table class="table">
				  <thead>
					<tr id="tableHeader" class="d-none">
					  <th>No.</th>
					  <th>Pair</th>
					  <th>Type</th>
					  <th>Date</th>
					  <th>Price</th>
					  <th>Amount</th>
					  <th>Total</th>
					</tr>
				  </thead>
				  <tbody id="histories">
				  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
		<div class="container paginator-container">
			<div class="row">
				<div class="col-5">
					<button id="paginationPrev" href="#" class="prev-next btn">Previous</button>
				</div>
				<div class="col-2">
					<span id="paginationText" class="green pagination-number"></span>
				</div>
				<div class="col-5">
					<button id="paginationNext" href="#" class="prev-next btn">Next</button>
				</div>
			</div>
		</div>
	  </div>
	</div>
  </div>
</div>
</div>
<script src="{% static 'exchange/js/histories.js' %}"></script> 
{% endblock %}