{% load static %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Exchange | {% block title %}{% endblock %}</title>
	<link rel="icon" href="{% static 'exchange/img/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'exchange/css/style.css' %}">
	<script src="{% static 'exchange/js/base/jquery-3.4.1.min.js' %}"></script>
	<meta name="google-site-verification" content="rlYNJsJJktY04G_LnK3oTwCloqeEWF3tcwk2cU2rWzk" />
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-M8QWQYGT2M"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-M8QWQYGT2M');
	</script>
</head>

<body id="dark">
	<header class="dark-bb">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'exchange/img/logo-light.svg' %}" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
				aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
				<i class="icon ion-md-menu"></i>
			</button>

			<div class="collapse navbar-collapse" id="headerMenu">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link" href="{% url 'exchange:exchange_trade' %}" aria-haspopup="true"
							aria-expanded="false">
							Trade
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="{% url 'exchange:markets' %}" aria-haspopup="true"
							aria-expanded="false">
							Markets
						</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							Dashboard
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
							<a class="dropdown-item" href="{% url 'account:wallet' %}">Wallet</a>
							<a class="dropdown-item" href="{% url 'account:tradeHistory' %}">Trade history</a>
							<a class="dropdown-item" href="{% url 'account:openOrders' %}">Open orders</a>
						</div>
					</li>
				</ul>
			
				{% if user.is_authenticated %}
				<li class="nav-item dropdown header-img-icon">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<img src="{% gravatar_url user.email 150 %}" class="img-circle" alt="{{user.username}}'s avatar">
						</a>
						<div class="dropdown-menu">
							<div class="dropdown-header d-flex flex-column align-items-center">
								<div class="figure mb-3">
									<img src="{% gravatar_url user.email 150 %}" class="img-circle" alt="{{user.username}}'s avatar">
								</div>
								<div class="info text-center">
									<p class="name font-weight-bold mb-0">
										{% if user.get_full_name %}
												{{ user.get_full_name }}
										{% else %}
												{{ user.username }}
										{% endif %}
									</p>
									<p class="email text-muted mb-3">
										{{user.email}}
									</p>
								</div>
							</div>
							<div class="dropdown-body">
								<ul class="profile-nav">
									<li class="nav-item">
										<a href="{% url 'account:profile' %}" class="nav-link">
											<i class="icon ion-md-person"></i>
											<span>Profile</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'account:wallet' %}" class="nav-link">
											<i class="icon ion-md-wallet"></i>
											<span>My Wallet</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'account:tradeHistory' %}" class="nav-link">
											<i class="icon ion-md-settings"></i>
											<span>Trade history</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'account:openOrders' %}" class="nav-link">
										  <i class="icon ion-md-settings"></i>
										  <span>Open orders</span>
										</a>
									</li>
									<li class="nav-item" id="changeThemeDark">
										<a href="#!" class="nav-link">
										  <i class="icon ion-md-moon"></i>
										  <span>Theme</span>
										</a>
								  	</li>
									<li class="nav-item">
										<a href="{% url 'logout' %}" class="nav-link red">
											<i class="icon ion-md-power"></i>
											<span>Log Out</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				{% else %}
					<ul class="navbar-nav ml-auto">
						<a href="{% url 'login' %}" class="btn-1">Sign In</a>
						<a href="{% url 'signUp' %}" class="btn-2">Get Started</a>
					</ul>
				{% endif %}
			</div>
		</nav>
	</header>

	{% block main %}

	{% endblock %}

	<script src="{% static 'exchange/js/base/popper.min.js' %}"></script>
	<script src="{% static 'exchange/js/base/bootstrap.min.js' %}"></script>
	<script src="{% static 'exchange/js/base/custom.js' %}"></script>
	<script>
		if (localStorage.getItem('theme') == 'true'){
			$('#changeThemeDark').click()
			$('.live-search-list').toggle();
		}
	</script>
</body>

</html>